@model IEnumerable<Hammer.Membership.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head {
<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript">

	$(function () {
		$("#add").button({ icons: { primary: 'ui-icon-plus'} });
		$("#add-form").dialog({ autoOpen: false, modal: true, title: 'Add User', width: 550 });
		$("#add")
			.click(function () {
				removeRoleSelect();
				$("#UserID").val("").removeAttr("disabled");
				$("#IsActive").attr("checked", "checked");
				$("#_userID").val("");
				$("#Password").val("");
				$("#add-form").dialog("open");
				$("#add-form").dialog({ title: 'Add User' });
			});

		$("#UserForm").validate({
				rules: {
					UserID: { required: true, maxlength: 15, remote: '/Admin/Settings/CheckUser' },
					Password:{required: true}
				},
				messages: {
					UserID: {
						required: "<span style='color: red; margin-left: 10px;'>Required</span>",
						maxlength: "<span style='color: red; margin-left: 10px;'>Maxlength is 15</span>",
						remote: "<span style='color: red; margin-left: 10px;'>Already Exist</span>"
					},
					Password:{required: "<span style='color: red; margin-left: 10px;'>Required</span>"}
				}
			});
		});

	function showRole(role) {
		$("#" + role).attr("checked", "checked");
	}

	function removeRoleSelect() {
		@foreach(var item in ShaXuan.Helpers.ListHelper.GetRoleList())
		{
			<text>$("#@item.Text").removeAttr("checked");</text>
		}
	}

	function Edit(userID, password, isActive) {
		removeRoleSelect();
		$.post("/Admin/settings/GetUserRoles", { id: userID }, function (data) {
			data.forEach(showRole);
		});
		$("#UserID").attr("disabled", "disabled").val(userID);
		$("#_userID").val(userID);
		$("#Password").val(password);
		if (isActive == "True")
			$("#IsActive").attr("checked", "checked");
		$("#add-form").dialog("open");
		$("#add-form").dialog({ title: 'Edit User' });
	};
</script>
}

<div id="add-form">
	<br />
	<form action="/Admin/Settings/Users" method="post" id="UserForm">
		<input type="hidden" value="" id="_userID" name="_userID" />
		<div class="row">
			<label>UserID:</label>
			@Html.TextBox("UserID")
		</div>
		<div class="row">
			<label>Password:</label>
			@Html.Password("Password")
		</div>
		 <div class="row">
			<label>Role:</label>
			@{int i=0;
				foreach (var item in ShaXuan.Helpers.ListHelper.GetRoleList())
				{
					<input id="@item.Text" name="UserRole[@i]" value="@item.Value" type="checkbox" /> @item.Text
					i++;
				}
			 }
		 </div>
		<div class="row">
			<label>IsActive:</label>
			@Html.CheckBox("IsActive")
		</div>
		<p><button type="submit">Save</button> or <a href="#" onclick="$('#add-form').dialog('close');">Cancel</a></p>
	</form>
</div>

<h2>Users</h2>

<p><a href="#" id="add">Add</a></p>

<table class="grid">
	<tr>
		<th>UserID</th>
		<th>Roles</th>
		<th>DateCreated</th>
		<th>DateLastLogin</th>
		<th>IsActive</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
 {
	<tr>
		<td>@item.UserID</td>
		<td>@foreach (var m in item.UserRoleJoins) { <text>@m.RoleID&nbsp;</text> }</td>
		<td>@item.DateCreated</td>
		<td>@item.DateLastLogin</td>
		<td><input type="checkbox" disabled="disabled" @(item.IsActive ? "checked='checked'":"") /></td>
		<td class="actions"><a href="#" onclick="Edit('@item.UserID','@item.Password.Substring(0,10)','@item.IsActive')">Edit</a> | <a href="/Admin/Settings/DeleteUser/@item.UserID">Delete</a></td>
	</tr> 
 }
</table>