@model Hammer.Common.Models.Paginated<Hammer.Core.Models.Blog>
@{
    ViewBag.Title = "摄影课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaKeywords = "摄影课程";
    ViewBag.MetaDescription = "摄影课程";
}

<div class="wrap">
	<div class="clearfix">
		<div class="m_r20 detail f_l">
			<div class="box m_b20">
				<h2 class="title">
					<a href="/course/Index/1" title="课程信息">
						<span class="yellow f24">摄影课程</span>
					</a>
				</h2>
				<ul class="news-list">
				@foreach (var item in Model)
	{
				<li>
					<div class="news-left f_l m_r20">
						<a href="/skill/detail/@item.BlogID" title="@item.BlogTitle">
							<img width="180" alt="@item.BlogTitle" src="@item.PictureFolder/@item.PictureThumbnail" />
						</a>
					</div>
					<div class="news-right f_r">
						<h3 class="m_b10 f18">
							<a href="/skill/detail/@item.BlogID" class="yellow" title="@item.BlogTitle">@item.BlogTitle</a>
						</h3>
						<div class="kcfltext-info">
							@Html.Raw(Hammer.Common.Utilities.Substring(item.BlogContent, 100))
						</div>
						<div class="f_r">
							<a href="/skill/detail/@item.BlogID" title="@item.BlogTitle" class="xomore2">详情</a>
						</div>
					</div>
				</li>
	}
				</ul>
			</div>
			<div class="box" style="padding: 10px;">
				@Model.Pager("pager")
			</div>
		</div>
		<div class="f_r sidebar">
			@Html.Action("Sidebar", "Company")
		</div>
	</div>
</div>