@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaKeywords = "摄影考证培训,摄影培训班,企业摄影培训,北京摄影培训";
    ViewBag.MetaDescription = "京影培训是北京摄影行业协会合作机构，拥有完整的教学体系和师资力量，主打课程是企业摄影培训。深受企业信赖和好评。";
}
@section head{
    <link href="../../App_Themes/Site/font-awesome.min.css" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="../../Scripts/jquery.mousewheel-3.0.4.pack.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.slides.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $('#slides').slidesjs({
                play: {
                    active: true,
                    // [boolean] Generate the play and stop buttons.
                    // You cannot use your own buttons. Sorry.
                    effect: "fade",
                    // [string] Can be either "slide" or "fade".
                    interval: 3000,
                    // [number] Time spent on each slide in milliseconds.
                    auto: true,
                    // [boolean] Start playing the slideshow on load.
                    swap: true,
                    // [boolean] show/hide stop and play buttons
                    pauseOnHover: false,
                    // [boolean] pause a playing slideshow on hover
                    restartDelay: 2500
                    // [number] restart delay on inactive slideshow
                },
                width: 940,
                height: 367,
                navigation: true
            });
            ChangeCheckCode();

            $(".curr").hover(function () {
                $(".hid").hide();
                $(".curr").removeClass("f18");
                $(".curr").removeClass("f20");

                var col = $(this).attr("col");

                if (col == "teseF") {
                    $(".curr[col=teseF]").addClass("f20");
                    $(".curr[col=newsF]").addClass("f18");
                }
                else {
                    $(".curr[col=newsF]").addClass("f20");
                    $(".curr[col=teseF]").addClass("f18");
                }

                $("#" + col).show();
            });
        });

        function ChangeCheckCode() {
            var url = '/Search/GetValidateCode';
            $("#imgCheckCode").attr("src", "" + url + "?time=" + (new Date()).getTime());
        };
    </script>
}
<div class="wrap">
    <div class="box" style="padding: 0; * padding-top: 10px; position: relative;">
        <div id="slide-info">
            <h1>
                <a href="/course/detail/663" target="_blank" title="摄影基础培训">摄影基础培训</a></h1>
            <p>
                摄影基础培训招生简章<br />
                一、报名条件：喜爱摄影，初中以上学历者均可报名。<br />
                二、报名时间：长年报名，额满30人开班。<br />
                三、授课内容：相机使用、摄影取景、用光、聚焦、构图等
                <br />
                四、授课方式：理论课、实训课<br />
                五、上课时间：根据具体额满时间。<br />
            </p>
            <div class="slide-detail">
                <p>
                    研修课时：<span class="yellow">时间灵活</span></p>
                <p>
                    咨询电话：<span class="yellow">15980752892 金主任</span></p>
            </div>
            <div>
                <a href="/course/detail/663" class="xomore2" target="_blank" title="预约该学位">预约该学位</a>
            </div>
        </div>
        <div id="slides">
            <a href="/course/detail/663" target="_blank" title="摄影基础培训">
                <img src="../../Content/images/1.jpg" alt="摄影基础培训" />
            </a><a href="/course/detail/663" target="_blank" title="摄影基础培训">
                <img src="../../Content/images/2.jpg" alt="摄影基础培训" />
            </a>
            <a class="slidesjs-previous slidesjs-navigation" href="#"><i class="icon-chevron-left icon-large">
            </i></a><a class="slidesjs-next slidesjs-navigation" href="#"><i class="icon-chevron-right icon-large">
            </i></a>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="clearfix  m_t20">
        <div class="f_l m_b20 row3 r1-news m_r20">
            <div class="box">
                <center style="padding-bottom: 5px; border-bottom: 1px solid rgb(217, 217, 217);">
                    <h2 class="news-title">
                        <span col="teseF" class="curr yellow f20"><a href="/news/Notice" class="yellow" target="_blank" title="特色服务">
                            特色服务 </a></span>
                        <span col="newsF" class="curr yellow f18"><a href="/news/Notice" class="yellow" target="_blank" title="特色服务">
                            新闻动态 </a></span>
                    </h2>
                </center>
                <ul id="teseF" class="list hid">
                    @foreach (var item in ViewBag.TeSe)
                    {
                        <li><span class="dot">·</span> <a href="/news/detail/@item.BlogID" target="_blank" title="@item.BlogTitle">
                            @Hammer.Common.Utilities.Substring(item.BlogTitle, 19)
                            @*@item.BlogTitle*@ </a></li>
                    }
                </ul>
                <ul id="newsF" class="list hid" style="display: none;">
                    @foreach (var item in ViewBag.News)
                    {
                        <li><span class="dot">·</span> <a href="/news/detail/@item.BlogID" target="_blank" title="@item.BlogTitle">
                            @Hammer.Common.Utilities.Substring(item.BlogTitle, 19)
                            @*@item.BlogTitle*@ </a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="f_l m_b20 row3 r1-news m_r20">
            <div class="box" style="position: relative;">
                <div class="news-tl">
                </div>
                <h2 class="title">
                    <a href="/course/index/1" target="_blank" title="热门课程"><span class="yellow f24">热门课程</span>
                        <span class="c99">更多<span class="fBlack">>></span></span> </a>
                </h2>
                <div class="course-title">
                    <div class="course-photo f_l">
                        <img src="/content/images/pic_1.jpg" style="width: 95px;" alt="热门课程" />
                    </div>
                    <div class="course-news f_r">
                        <ul class="list" style="padding-top: 0; padding-bottom: 0;">
                            @foreach (var item in ViewBag.TopCourse)
                            {
                                <li><span class="dot">·</span> <a href="/course/detail/@item.BlogID" target="_blank" title="@item.BlogTitle">
                                    @Hammer.Common.Utilities.Substring(item.BlogTitle, 14)
                                </a></li>
                            }
                        </ul>
                    </div>
                </div>
                <ul class="list">
                    @foreach (var item in ViewBag.Course)
                    {
                        <li><span class="dot">·</span> <a href="/course/detail/@item.BlogID" target="_blank" title="@item.BlogTitle">
                            @Hammer.Common.Utilities.Substring(item.BlogTitle, 20)
                        </a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="f_l m_b20 r1-news row3-last">
            <div class="box">
                <h2 class="title">
                    <a href="/applyonline/addapply" title="在线报名"><span class="yellow f24">在线报名</span> <span
                        class="c99">159-8075-2892</span> </a>
                </h2>
                <div class="form">
                    <form action="/ApplyOnline/AddApply" method="post">
                    <div class="rows">
                        <label>
                            姓名 <span class="yellow">*</span>：</label>
                        <input type="text" name="Name" />
                    </div>
                    <div class="rows">
                        <label>
                            联系电话 <span class="yellow">*</span>：</label>
                        <input type="text" name="Phone" />
                    </div>
                    <div class="rows">
                        <label>
                            报名课程 <span class="yellow">*</span> ：</label>
                        @Html.DropDownList("Course", new ShaXuan.Helpers.ListHelper().GetCourse())
                    </div>
                    <div class="rows">
                        <label>
                            验证码 <span class="yellow">*</span> ：</label>
                        <input type="text" name="ValidCode" value="" />
                        <img width="68px" height="30px" title="刷新验证码" id="imgCheckCode" src="" style="margin-left: 3px;
                            vertical-align: middle; cursor: pointer;" onclick="ChangeCheckCode()" />（点击更换验证码）
                    </div>
                    <div class="rows">
                        <center>
                            <button type="submit" class="apply-button">
                            </button>
                        </center>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="f_l m_b20 baoming">
            <div class="box">
                <h2 class="title">
                    <a href="/applyonline/addapply" target="_blank" title="报名课程"><span class="yellow f24">
                        报名流程</span> </a><span class="c99"><a href="/applyonline/addapply" title="在线提交申请">在线提交申请</a></span>
                    <span class="c99"><a href="/applyonline/addapply" title="耐心等待工作人员联系">耐心等待工作人员联系</a></span>
                    <span class="c99"><a href="/applyonline/addapply" title="前往学校办理手续">前往学校办理手续</a></span>
                </h2>
                <div class="clearfix">
                    <center>
                        <a href="/applyonline/addapply" target="_blank" title="报名流程">
                            <img src="../../App_Themes/Site/imgs/apply.jpg" alt="报名流程" style="width: 920px;" />
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix box_footer">
        <div class="left f_l m_b20 p_l20">
            <h2 class="title">
                <a href="#"><span class="yellow">友情链接</span> <span class="c99">Links<span class="fBlack">>></span></span>
                </a>
            </h2>
            <ul class="list">
                @foreach (var item in ViewBag.Links)
                {
                    <li><a target="_blank" href="@item.LinkUrl" title="@item.Name">@item.Name</a></li>
                }
                @*<li> <a target="_blank" href="http://www.yinghuangsx.com" title="北京英皇沙宣美发教育学院">北京英皇沙宣美发教育学院</a></li>
				<li> <a target="_blank" href="http://www.henhaoji.com.cn" title="厦门网站建设">厦门网站建设</a></li>*@
            </ul>
        </div>
        <div class="right f_r m_b20 p_l20">
            <h2 class="title">
                <a href="#"><span class="yellow">站内事务</span> <span class="c99">Website<span class="fBlack">>></span></span>
                </a>
            </h2>
            <ul class="list">
            </ul>
        </div>
    </div>
</div>
