@model Hammer.Core.Models.Links
		   
<div class="section">
	<div class="section-header">
		<h3>名称</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.Name, new { @class = "title" }) <cite>*</cite>
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>链接</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.LinkUrl, new { @class = "large" }) <cite>*</cite> <dfn>请加http://</dfn>
			@Html.ValidationMessageFor(m => m.LinkUrl)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>联系人</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.Contact, new { @class = "large" })
			@Html.ValidationMessageFor(m => m.Contact)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>联系方式</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.Email, new { @class ="large"})
			@Html.ValidationMessageFor(m => m.Email)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>排序</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextBoxFor(m => m.SortOrder) <cite>*</cite>
			@Html.ValidationMessageFor(m => m.SortOrder)
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>是否启用</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.DropDownListFor(m => m.IsEnable, new ShaXuan.Helpers.ListHelper().GetLinksEnable())
		</div>
	</div>
</div>
<div class="section">
	<div class="section-header">
		<h3>备注</h3>
	</div>
	<div class="section-body">
		<div class="row">
			@Html.TextAreaFor(m => m.Description)
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
</div>
