@model Hammer.Common.Models.Paginated<Hammer.Core.Models.Links>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    友情链接</h2>
<p>
    <a href="/Admin/Links/Add" class="button-add">添加友情链接</a>
</p>
<table class="grid">
    <tr>
        <th>
            #
        </th>
        <th>
            名称
        </th>
        <th>
            添加时间
        </th>
        <th>
            链接网站
        </th>
        <th>
            联系人邮箱/QQ
        </th>
        <th>
            启用
        </th>
        <th>
            排序
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID
            </td>
            <td>@item.Name
            </td>
            <td>@item.DateCreated
            </td>
            <td>
                <a href="@item.LinkUrl" target="_blank">@item.LinkUrl</a>
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @if (item.IsEnable == "Y")
                {
                    @Html.Raw("是")
                }
                else
                {
                    @Html.Raw("否")
                }
            </td>
            <td>
                @item.SortOrder
            </td>
            <td>
                <a href="/Admin/Links/Edit/@item.ID" class="button-edit">编辑</a> <a href="/Admin/Links/Delete/@item.ID" class="button-delete delete">
                    删除</a>
            </td>
        </tr>
    }
</table>
@Model.Pager("pager")
