@{
	ViewBag.Title = "北京英皇沙宣美发教育学院";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.MetaKeywords = "沙宣学校,沙宣美发学校,北京沙宣学校,北京沙宣美发学校,上海沙宣学校,上海沙宣美发学校,沙宣美发学院,北京美发学校,上海沙宣美发学院,美发学校,沙宣图片,沙宣视频,沙宣发型,沙宣美发培训,发型沙宣,沙宣官方网站";
	ViewBag.MetaDescription = "美发教育团队是一所专业的上海沙宣美发学校，我们秉着传承上海沙宣学校美发技术的理念，在中国的北京，上海，广州，成都开展了多场沙宣美发学院的发型秀，引起了美容美发连锁强烈反响。";
}
@section head{
	<link href="../../App_Themes/Site/font-awesome.min.css" rel="stylesheet" type="text/css" />
}
@section scripts{
	<script src="../../Scripts/jquery.slides.min.js" type="text/javascript"></script>
	<script>
		$(function () {
			$('#slides').slidesjs({
				play: {
					active: true,
					// [boolean] Generate the play and stop buttons.
					// You cannot use your own buttons. Sorry.
					effect: "fade",
					// [string] Can be either "slide" or "fade".
					interval: 3000,
					// [number] Time spent on each slide in milliseconds.
					auto: true,
					// [boolean] Start playing the slideshow on load.
					swap: true,
					// [boolean] show/hide stop and play buttons
					pauseOnHover: false,
					// [boolean] pause a playing slideshow on hover
					restartDelay: 2500
					// [number] restart delay on inactive slideshow
				},
				width: 940,
				height: 370,
				navigation: true
			});

			$(".hover").hover(function () {
				$(this).addClass("h220");
			}, function () {
				$(this).removeClass("h220");
			});
		});
	</script>
}
<div class="wrap">
	<div class="box" style="padding: 0;">
		<div id="slide-info">
			<h1>
				<a href="/course/detail/国际英皇沙宣沙龙当代剪裁课程-12" target="_blank" title="北京英皇沙宣美发教育学院">国际•英皇沙宣•沙龙当代剪裁课程</a></h1>
			<p>
				本课程是本学院的王牌最实用的课程之基础，主要是拆分经典中的技术和元素，深度解剖方圆三角的38
				个技术精髓元素变化、作用、特点、运用、及结合当代国际沙龙商业趋势，本教育团队原创的12款最适合于
				各级别发廊的沙龙发型，学后可根据沙龙需求随意烫发、染发、造型、真正做到心中有百型，款款适合你的效果！
			</p>
			<div class="slide-detail">
				<p>研修课时：<span class="yellow">每月北京开课，提前预定学习名额</span></p>
                <p>咨询电话：<span class="yellow">010-63540409</span></p>
			</div>
		</div>
		<div id="slides">
			<a href="/course/detail/国际英皇沙宣沙龙当代剪裁课程-12" target="_blank" title="国际英皇沙宣沙龙当代剪裁课程">
				<img src="../../Content/images/北京沙宣美发学院.jpg" alt="北京沙宣美发学院" />
			</a>
			<a href="/course/detail/国际英皇沙宣沙龙当代剪裁课程-12" target="_blank" title="国际英皇沙宣沙龙当代剪裁课程">
				<img src="../../Content/images/北京英皇沙宣美发教育学院.jpg" alt="北京英皇沙宣美发教育学院" />
			</a>
			<a href="/course/detail/国际英皇沙宣沙龙当代剪裁课程-12" target="_blank" title="国际英皇沙宣沙龙当代剪裁课程">
				<img src="../../Content/images/上海沙宣美发学院.jpg" alt="上海沙宣美发学院"/>
			</a>
			<a href="/course/detail/国际英皇沙宣沙龙当代剪裁课程-12" target="_blank" title="国际英皇沙宣沙龙当代剪裁课程">
				<img src="../../Content/images/英皇沙宣美发学院.jpg" alt="英皇沙宣美发学院"/>
			</a>
			<a class="slidesjs-previous slidesjs-navigation" href="#"><i class="icon-chevron-left icon-large"></i></a>
			<a class="slidesjs-next slidesjs-navigation" href="#"><i class="icon-chevron-right icon-large"></i></a>
		</div>
	</div>
</div>
<div class="wrap">
    <div class="clearfix  m_t20">
        <div class="f_l m_b20 row3 r1-news m_r20">
			<div class="box">
				<center style="border-bottom: 1px solid rgb(217, 217, 217);">
					<h2 class="news-title">
						<span style="font-size: 16px; overflow: hidden;">
							<a href="/news/detail/@ViewBag.FirstNews.Slug" class="yellow" target="_blank" title="@ViewBag.FirstNews.BlogTitle">
								@Hammer.Common.Utilities.Substring(ViewBag.FirstNews.BlogTitle, 20)
							</a>
						</span>
						<p>烫发时卷杠要考虑哪些问题</p>
					</h2>
				</center>
				<ul class="list">
					@foreach (var item in @ViewBag.News)
	 {
		 <li><span class="dot">·</span>
			<a href="/news/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
				@Hammer.Common.Utilities.Substring(item.BlogTitle, 19)
			</a>
		</li>
	 }
					@*<li><span class="dot">·</span><a href="#">英皇沙宣潮流分享</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣圆润美型BOB发</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣潮流分享</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣圆润美型BOB发</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣潮流分享</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣圆润美型BOB发</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣潮流分享</a></li>*@
				</ul>
			</div>
        </div>
        <div class="f_l m_b20 row3 r1-news m_r20">
			<div class="box" style="position: relative;">
				<div class="news-tl"></div>
				<h2 class="title">
					<a href="/course/index/1" target="_blank" title="英皇沙宣课程">
						<span class="yellow" style="font-size: 23px;">沙宣课程</span>
						<span class="c99">更多<span class="fBlack">>></span></span>
					</a>
				</h2>
				<div class="course-title">
					<div class="course-photo f_l">
						<img src="/App_Themes/Site/images/pic4.png" style="width: 70px;" alt="沙宣课程信息" />
					</div>
					<div class="course-news f_r">
					<ul class="list">
						@foreach (var item in ViewBag.TopCourse)
	 {
		  <li><span class="dot">·</span>
			<a href="/course/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
				@Hammer.Common.Utilities.Substring(item.BlogTitle, 14)
			</a>
		</li>
	 }
					</ul>
					@*	<p></p>
						<p><a href="#">国际•英皇沙宣•沙龙当代剪裁课程</a></p>
						<p><a href="#">国际•英皇沙宣•沙龙当代剪裁课程</a></p>*@
					</div>
				</div>
				<ul class="list">
					@foreach (var item in ViewBag.Course)
	 {
		  <li><span class="dot">·</span>
			<a href="/course/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
				@Hammer.Common.Utilities.Substring(item.BlogTitle, 20)
			</a>
		</li>
	 }
					@*<li><span class="dot">·</span><a href="#">国际•英皇沙宣•沙龙经典剪裁课程</a></li>
					<li><span class="dot">·</span><a href="#">国际•英皇沙宣•沙龙时尚染发课程</a></li>
					<li><span class="dot">·</span><a href="#">国际•英皇沙宣•沙龙造型扎发课程</a></li>
					<li><span class="dot">·</span><a href="#">国际•英皇沙宣•沙龙国际大师预科课程</a></li>
					<li><span class="dot">·</span><a href="#">国际•英皇沙宣•沙龙国际大师课程</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="dot">·</span><a href="#">英皇沙宣潮流分享</a></li>*@
				</ul>
			</div>
        </div>
        <div class="f_l m_b20 r1-news row3-last">
			<div class="box">
				<h2 class="title">
					<a href="/applyonline/addapply" title="在线报名">
						<span class="yellow" style="font-size: 23px;">在线报名</span>
						<span class="c99">010-63540409</span>
					</a>
				</h2>
				<div class="form">
					<form action="/ApplyOnline/AddApply">
						<div class="rows">
							<label>姓名：</label>
							<input type="text" name="Name" />
						</div>
						<div class="rows">
							<label>联系电话：</label>
							<input type="text" name="Tel" />
						</div>
						<div class="rows">
							<label>报名课程：</label>
							<select name="course">
								<option>国际•英皇沙宣•沙龙经典剪裁课程</option>
								<option>国际•英皇沙宣•沙龙经典剪裁课程</option>
								<option>国际•英皇沙宣•沙龙经典剪裁课程</option>
								<option>国际•英皇沙宣•沙龙经典剪裁课程</option>
							</select>
						</div>
						<div class="rows">
							<label>留言：</label>
							<textarea rows="2" class="remark"></textarea>
						</div>
						<div class="rows">
							<center>
								<button type="submit" class="apply-button"></button>
							</center>
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>
    <div class="clearfix">
        <div class="f_l m_b20 baoming">
            <div class="box">
				<a href="#"><img src="/Content/images/1.jpg" style="width: 920px;" alt="" /></a>
			</div>
        </div>
    </div>
	<div class="clearfix">
		<div class="f_l m_b20 teachers">
			<div class="box" style="overflow: hidden;">
				<h2 class="title">
					<a href="/gallery" target="_blank" title="英皇沙宣发型图片">
						<span class="yellow" style="font-size: 23px;">沙宣图片</span>
					</a>
					<span class="c99"><a href="/gallery" title="英皇沙宣发型图片">美发实践</a></span>
					<span class="c99"><a href="/gallery" title="英皇沙宣发型图片">发型图片</a></span>
					<span class="c99"><a href="/gallery" title="英皇沙宣发型图片">美发作品</a></span>
				</h2>
				<ul class="home-photos">
				@{int a = 1;}
					@foreach (var item in ViewBag.Photos)
	 {
		 string last = "";
		 if (a % 5 == 0)
		 {
			 last = "last";
		 }
					<li class="@last">
						<div class="photo">
							<a href="/gallery/GalleryDetail/@item.GalleryID" target="_blank" class="hover">
								<img src="@item.PictureFolder/@item.PictureFile" alt="@item.GalleryName" />
								<p class="cover-h240">
									<a href="/gallery/GalleryDetail/@item.GalleryID" target="_blank" title="@item.GalleryName" target="_blank">@item.GalleryName</a>
								</p>
							</a>
						</div>
					</li>
		 a++;
	 }
					@*<li>
						<div class="photo">
							<a href="#" class="hover">
								<img src="/content/gallery/3.jpg" alt="" />
								<p class="cover-h240">
									老师老师老师
								</p>
							</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
								<img src="/content/gallery/3.jpg" alt="" />
								<p class="cover-h240">
									老师老师老师
								</p>
							</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li class="last">
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li>
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>
					<li class="last">
						<div class="photo">
							<a href="#" class="hover">
							<img src="/content/gallery/3.jpg" alt="" />
							<p class="cover-h240">
								老师老师老师
							</p>
						</a>
						</div>
					</li>*@
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix">
        <div class="f_l m_b20 baoming">
            <div class="box">
				<h2 class="title">
					<a href="/applyonline/addapply" target="_blank" title="美发课程报名">
						<span class="yellow" style="font-size: 23px;">报名流程</span>
					</a>
					<span class="c99"><a href="/applyonline/addapply" title="美发课程报名">在线报名</a></span>
					<span class="c99"><a href="/applyonline/addapply" title="美发课程报名">注意事项</a></span>
					<span class="c99"><a href="/applyonline/addapply" title="美发课程报名">汇款方式</a></span>
				</h2>
				<div class="clearfix">
					<center>
						<a href="/applyonline/addapply" target="_blank" title="美发课程报名">
							<img src="../../App_Themes/Site/imgs/apply.jpg" alt="" style="width: 920px;" />
						</a>
					</center>
				</div>
			</div>
        </div>
    </div>
    <div class="clearfix">
		<div class="wrap-left m_b20 f_l">
			<div class="box">
				<h2 class="title">
					<a href="/skill/index/3" target="_blank" title="英皇沙宣美发技术">
						<span class="yellow" style="font-size: 23px;">技术专区</span>
					</a>
					<span class="c99"><a href="/skill/index/3" target="_blank" title="英皇沙宣美发技术">沙宣技术</a></span>
					<span class="c99"><a href="/skill/index/11" target="_blank" title="英皇沙宣沙龙管理">沙龙管理</a></span>
					<span class="c99"><a href="/skill/index/12" target="_blank" title="英皇沙宣盘发造型">盘发造型</a></span>
					<span class="c99"><a href="/skill/index/13" target="_blank" title="英皇沙宣色彩造型">色彩造型</a></span>
					<span class="c99"><a href="/skill/index/14" target="_blank" title="英皇沙宣商业烫发">商业烫发</a></span>
					<span class="c99"><a href="/skill/index/15" target="_blank" title="英皇沙宣时尚染发">时尚染发</a></span>
				</h2>
				<div class="skill f_l" style="border-right: 1px solid #cecece; border-bottom: 1px solid #cecece;">
					<h3><a href="/skill/index/3" target="_blank" title="英皇沙宣美发技术">沙宣技术</a></h3>
					<ul class="list">
						@foreach (var item in ViewBag.ShaXuan)
	  {
			<li>
				<span class="dot">·</span>
				<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
					@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
				</a>
			</li>
	  }
						@*<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>*@
					</ul>
				</div>
				<div class="skill f_l" style="border-right: 1px solid #cecece; border-bottom: 1px solid #cecece;">
					<h3><a href="/skill/index/11" target="_blank" title="英皇沙宣沙龙管理">沙龙管理</a></h3>
					<ul class="list">
					@foreach (var item in ViewBag.ShaLong)
	  {
			<li>
				<span class="dot">·</span>
				<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
					@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
				</a>
			</li>
	  }
						@*<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>*@
					</ul>
				</div>
				<div class="skill f_l" style="border-bottom: 1px solid #cecece;">
					<h3><a href="/skill/index/12" target="_blank" title="英皇沙宣盘发造型">盘发造型</a></h3>
					<ul class="list">
					@foreach (var item in ViewBag.PanFa)
	  {
			<li>
				<span class="dot">·</span>
				<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
					@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
				</a>
			</li>
	  }
						@*<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>*@
					</ul>
				</div>
				<div class="skill f_l" style="border-right: 1px solid #cecece;">
					<h3><a href="/skill/index/13" target="_blank" title="英皇沙宣色彩造型">色彩造型</a></h3>
					<ul class="list">
					@foreach (var item in ViewBag.SeCai)
	  {
			<li>
				<span class="dot">·</span>
				<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
					@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
				</a>
			</li>
	  }
					@*<h3><a href="">色彩造型</a></h3>
					<ul class="list">
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
					</ul>*@
				</div>
				<div class="skill f_l" style="border-right: 1px solid #cecece;">
					<h3><a href="/skill/index/14" target="_blank" title="英皇沙宣商业烫发">商业烫发</a></h3>
						<ul class="list">
						@foreach (var item in ViewBag.TangFa)
		  {
				<li>
					<span class="dot">·</span>
					<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
						@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
					</a>
				</li>
		  }
					@*<h3><a href="">商业烫发</a></h3>
					<ul class="list">
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
					</ul>*@
				</div>
				<div class="skill f_l">
					<h3><a href="/skill/index/15" target="_blank" title="英皇沙宣时尚染发">时尚染发</a></h3>
						<ul class="list">
						@foreach (var item in ViewBag.RanFa)
		  {
				<li>
					<span class="dot">·</span>
					<a href="/skill/detail/@item.Slug" target="_blank" title="@item.BlogTitle">
						@Hammer.Common.Utilities.Substring(item.BlogTitle, 13)
					</a>
				</li>
		  }
					@*<h3><a href="">时尚染发</a></h3>
					<ul class="list">
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
						<li><span class="dot">·</span><a href="#">烫发时卷杠要考虑哪些问题</a></li>
					</ul>*@
				</div>
			</div>
		</div>
		<div class="wrap-right m_b20 f_r">
			<div class="box">
				<h2 class="title">
					<a href="#">
						<span class="yellow" style="font-size: 23px;">热门阅读</span>
						<span class="c99">更多<span class="fBlack">>></span></span>
					</a>
				</h2>
				<ul class="list">
				@{int i = 1;}
					@foreach (var item in ViewBag.Hot)
	 {
		 string top = "";
		 if (i < 4)
		 {
			 top = "top";
		 }
		 <li><span class="no @top">@i</span>
			<a href="/News/Detail/@item.Slug" target="_blank" title="@item.BlogTitle">@Hammer.Common.Utilities.Substring(item.BlogTitle, 17)</a>
		</li>
		 i++;
	 }
					@*<li><span class="no top">1</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no top">2</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no top">3</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no">4</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no">5</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no">6</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>*@
				</ul>
				<div class="hot-ads">
				</div>
				<h2 class="title">
					<a href="#">
						<span class="yellow" style="font-size: 23px;">常见问题</span>
						<span class="c99">更多<span class="fBlack">>></span></span>
					</a>
				</h2>
				<ul class="list">
					<li><span class="no top">1</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no top">2</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no top">3</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no">4</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
					<li><span class="no">5</span><a href="#">英皇沙宣知识库（如何打造轻盈外翘无...</a></li>
				</ul>
			</div>
		</div>
    </div>
	
	<div class="clearfix box_footer">
		<div class="left f_l m_b20 p_l20">
			<h2 class="title">
				<a href="#">
					<span class="yellow">友情链接</span>
					<span class="c99">Links<span class="fBlack">>></span></span>
				</a>
			</h2>
			<ul class="list">
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
    
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
				<li> <a target="_blank" href="#">厦门网站建设</a></li>
			</ul>
		</div>
		<div class="right f_r m_b20 p_l20">
			<h2 class="title">
				<a href="#">
					<span class="yellow">站内事务</span>
					<span class="c99">Website<span class="fBlack">>></span></span>
				</a>
			</h2>
			<ul class="list">
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
				<li><span class="dot">·</span> <a target="_blank" href="#">在烫发中错误的操作误区</a></li>
			</ul>
		</div>
	</div>
</div>