@model Hammer.Core.Models.Site.LoginViewModel

@{
    ViewBag.Title = "管理员登录";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
	<div class="clearfix">
		<div class="m_r20 detail f_l">
			<div class="box">
				<h2 class="title">
					<a href="#" title="登录">
						<span class="yellow f24">登录</span>
					</a>
				</h2>
				<div class="form">
					@using (Html.BeginForm())
		{
					<div class="rows">
						<label>用户名：</label>
						@Html.TextBox("UserID", "")
						@Html.ValidationMessageFor(m => m.UserID)
					</div>
					<div class="rows">
						<label>密码：</label>
						@Html.Password("Password", "")
						@Html.ValidationMessageFor(m => m.Password)
					</div>
					@ViewBag.LoginError
				   <div class="rows">
						<label>&nbsp;</label>
						<button type="submit">登录</button>
						<label>&nbsp;</label>
						<button  type="submit" class="contact-b1">取消</button>
					</div>
		}
				</div>
			</div>
		</div>
		<div class="f_r sidebar">
			@Html.Action("Sidebar", "Company")
		</div>
	</div>
</div>

<div class="content">
	<div class="school">
		<div class="login">
	  
		</div>
	</div>
</div>
