@model IEnumerable<Hammer.Core.Models.BlogCategory>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head {
	<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(function () {
			$("#add").button({ icons: { primary: 'ui-icon-plus'} });
			$("#add-form").dialog({ autoOpen: false, modal: true, title: 'Add category', width: 550 });
			$("#add")
				.click(function () {
					$("#CategoryID").val(0);
					$("#CategoryName").val("");
					$("#MetaDescription").val("");
					$("#MetaKeywords").val("");
					$("#add-form").dialog("open");
					$("#add-form").dialog({ title: 'Add category' });
				});

			$("#CategoryForm").validate({
				rules: {
					CategoryName: { required: true, maxlength: 25 }
				},
				messages: {
					CategoryName: {
						required: "<span style='color: red; margin-left: 10px;'>Required</span>",
						maxlength: "<span style='color: red; margin-left: 10px;'>Maxlength is 25</span>"
					}
				}
			});
		});

		function Edit(cateogyid,name,description,keywords) {
			$("#CategoryName").val(name);
			$("#MetaDescription").val(description);
			$("#MetaKeywords").val(keywords);
			$("#CategoryID").val(cateogyid);
			$("#add-form").dialog("open");
			$("#add-form").dialog({ title: 'Edit category' });
		};

	</script>
}

<div id="add-form">
	<br />
	<form action="/Admin/Blog/Categories" method="post" id="CategoryForm">
		@Html.Hidden("CategoryID")
		<div class="row">
			<label>分类名:</label>
			@Html.TextBox("CategoryName")
		</div>
		<div class="row">
			<label>简介:</label>
			@Html.TextArea("MetaDescription")
		</div>
		<div class="row">
			<label>关键字:</label>
			@Html.TextBox("MetaKeywords", "", new { @class = "large" })
		</div>
		<p><button type="submit">保存</button> or <a href="#" onclick="$('#add-form').dialog('close');">取消</a></p>
	</form>
</div>

<h2>分类管理</h2>

<p><a href="#" id="add">发布</a></p>

<table class="grid">
	<tr>
		<th>分类名</th>
		<th>关键字</th>
		<th>Url</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
 {
	<tr>
		<td>@item.CategoryName</td>
		<td>@item.MetaKeywords</td>
		<td>/Blog/Category/@item.Slug</td>
		<td class="actions"><a href="#" onclick="Edit(@item.CategoryID,'@item.CategoryName','@item.MetaDescription','@item.MetaKeywords')" class="button-edit">编辑</a><a href="/Admin/Blog/DeleteCategory/@item.CategoryID" class="button-delete delete">删除</a></td>
	</tr> 
 }
</table>
