@model Hammer.Common.Models.Paginated<Hammer.Core.Models.Blog>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    Hammer.Common.Models.SiteSettings siteSettings = new Hammer.Common.Models.SiteSettings();
}
@if (ViewBag.CategoryID != 6)
{
    <h2>
        浏览@(Html.Raw(new ShaXuan.Helpers.LabelHelper().GetBlogCategoryName(ViewBag.CategoryID)))</h2>
    <p>
        <a href="/admin/blog/Add/@ViewBag.CategoryID" class="button-add">发布新@(new ShaXuan.Helpers.LabelHelper().GetBlogCategoryName(ViewBag.CategoryID))</a>
    </p>
}
else
{
    <h2>
        公司介绍页面</h2>
}
<table class="grid">
    <tr>
        <th>
            #
        </th>
        <th>
            图片
        </th>
        <th>
            标题
        </th>
        <th>
            作者
        </th>
        <th>
            排序
        </th>
        @*<th>
			评论
		</th>*@
        <th>
            浏览量
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BlogID
            </td>
            <td>
                <img src="@item.PictureFolder/@item.PictureThumbnail" style="width:150px;" alt="" />
            </td>
            <td style="width: 30%">
                @item.BlogTitle
            </td>
            <td>
                @item.AuthorID<br />
                @String.Format("{0:g}", item.DateCreated)
            </td>
            <td>
                @item.SortOrder
            </td>
            <td>
                @item.PageVisits
            </td>
            <td class="actions">
                <a href="/admin/blog/edit/@item.BlogID" class="button-edit">编辑</a>
                @if (ViewBag.CategoryID != 6)
                {
                    <a href="/admin/blog/delete/@item.BlogID" class="button-delete delete">删除</a>
                }
            </td>
        </tr>
    }
</table>
@Model.Pager("pager")
