@model Hammer.Membership.Models.User

@{
	ViewBag.Title = "Password";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{
	<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
}

<h2>修改密码</h2>

@using (Html.BeginForm())
{
	@Html.HiddenFor(m => m.UserID)
	<div class="section">
		<div class="section-body">
			<div class="row">
				<label>用户名:</label>
				@Model.UserID
			</div>
			<div class="row">
				<label>最后登陆时间:</label>
				@Model.DateLastLogin
			</div>
			<div class="row">
				<label>新密码:</label>
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>
		</div>
	</div>
	<div class="section">
		<button type="submit">提交</button>
	</div>
}